html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
}

canvas {
  display: block;
}

#controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  font-size: 24px;
  padding: 20px;
  border-radius: 12px;
  border: none;
  background: #333;
  color: white;
}
